.header {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 165px 0 160px;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__burger {
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 16px;
    cursor: pointer;
}

.header__title {
    display: flex;
    max-width: 1110px;
    width: 100%;
    margin: 40px auto;

    font: normal 500 50px/64px "Inter", sans-serif;
    color: var(--font-color);
}

.header__icons {
    height: 32px;
    color: var(--black);
}

.header__icons_grey {
    color: var(--dark-bg);
}

.header__link {
    z-index: 3;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 24px 165px 26px 160px;
    background: var(--grey-bg);
}

.header__main {
    display: flex;
    justify-content: space-between;
    padding: 24px 165px 0 160px;
}

.header__toggler {
    display: flex;
    align-self: flex-end;
    gap: 24px;
    font: normal 400 16px/24px Inter, sans-serif;
    color: var(--text-secondary);
}

/* header burger icon */
.header__burger-open {
    display: none;
}

.header__burger-open_icon {
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 16px;
    cursor: pointer;
    color: var(--grey-3);
}

.header__burger-open_icon-open {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 17px 0 69px 16px;
    }

    .header__title {
        font: 400 normal 28px/38px Inter, sans-serif;
        color: var(--grey-4);
        justify-content: center;
    }

    .header__inner {
        padding: 17px 0 17px 0;
        justify-content: end;
    }

    .header__main {
        padding: 17px 0 0;
        justify-content: end;
    }

    .header-link {
        margin-right: 30px;
    }

    .header__menu, .header__toggler {
        display: none;
    }

    .header__burger,
    .header__burger-open,
    .header__burger-open_icon {
        display: inline-block;
    }

}