.tabs {
    position: relative;
}

.tabs__input {
    position: absolute;
    appearance: none;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.tabs__scroller {
    display: flex;
    gap: 40px;
    padding: 0 106px 0 42px;
    white-space: nowrap;
    background: var(--main-bg);
}

.tabs__divider {
    height: 1px;
    width: 100%;
    background-color: var(--active-text-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.tabs__label {
    font: normal 400 16px/24px Inter, sans-serif;
    color: var(--text-secondary);
    padding-bottom: 8px;
    cursor: pointer;
}

.tabs__content {
    overflow-x: auto;
}

.tabs__input[id="all-tab"]:checked ~ .tabs__scroller .tabs__label[for="all-tab"],
.tabs__input[id="atoms-tab"]:checked ~ .tabs__scroller .tabs__label[for="atoms-tab"],
.tabs__input[id="molecules-tab"]:checked ~ .tabs__scroller .tabs__label[for="molecules-tab"],
.tabs__input[id="organisms-tab"]:checked ~ .tabs__scroller .tabs__label[for="organisms-tab"],
.tabs__input[id="html-tab"]:checked ~ .tabs__scroller .tabs__label[for="html-tab"],
.tabs__input[id="css-tab"]:checked ~ .tabs__scroller .tabs__label[for="css-tab"],
.tabs__input[id="all-tab"]:hover ~ .tabs__scroller .tabs__label[for="all-tab"],
.tabs__input[id="atoms-tab"]:hover ~ .tabs__scroller .tabs__label[for="atoms-tab"],
.tabs__input[id="molecules-tab"]:hover ~ .tabs__scroller .tabs__label[for="molecules-tab"],
.tabs__input[id="organisms-tab"]:hover ~ .tabs__scroller .tabs__label[for="organisms-tab"],
.tabs__input[id="html-tab"]:hover ~ .tabs__scroller .tabs__label[for="html-tab"],
.tabs__input[id="css-tab"]:hover ~ .tabs__scroller .tabs__label[for="css-tab"] {
    color: var(--text-primary);
    border-bottom: 5px solid var(--text-primary);
}

.tabs__content_atoms,
.tabs__content_molecules,
.tabs__content_organisms,
.tabs__content_css {
    display: none;
}

.tabs__input[id="all-tab"]:checked ~ .tabs__content,
.tabs__input[id="atoms-tab"]:checked ~ .tabs__content,
.tabs__input[id="molecules-tab"]:checked ~ .tabs__content,
.tabs__input[id="organisms-tab"]:checked ~ .tabs__content,
.tabs__input[id="html-tab"]:checked ~ .components__bottom .tabs__content,
.tabs__input[id="css-tab"]:checked ~ .components__bottom .tabs__content {
    display: none;
}

.tabs__input[id="all-tab"]:checked ~ .tabs__content_all {
    display: flex;
}

.tabs__input[id="atoms-tab"]:checked ~ .tabs__content_atoms,
.tabs__input[id="molecules-tab"]:checked ~ .tabs__content_molecules,
.tabs__input[id="organisms-tab"]:checked ~ .tabs__content_organisms {
    display: flex;
    flex-direction: column;
    overflow-x: visible;

    flex-wrap: wrap;
    max-width: 1110px;
    margin: 0 auto;
}

.tabs__input[id="html-tab"]:checked ~ .components__bottom .tabs__content_html,
.tabs__input[id="css-tab"]:checked ~ .components__bottom .tabs__content_css {
    display: flex;
}

@media screen and (max-width: 768px) {
    .tabs__label {
        font: normal 400 12px/18px Inter, sans-serif;
    }
}

@media screen and (max-width: 576px) {
    .tabs__input[id="atoms-tab"]:checked ~ .tabs__content_atoms,
    .tabs__input[id="molecules-tab"]:checked ~ .tabs__content_molecules,
    .tabs__input[id="organisms-tab"]:checked ~ .tabs__content_organisms {
        overflow-x: auto;
    }
}