.components {
    min-width: 650px;
    margin-left: 56px;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    background: var(--card-bg);
}

.components__top {
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
}

.components__title {
    margin-bottom: 58px;
    color: var(--input-text-color);
    font: normal 400 28px/38px Inter, sans-serif;
}

.components__bottom {
    padding: 50px 106px 58px 42px;
    overflow-x: auto;
}

.components__html {
    width: 80%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .components {
        margin: 0;
        min-width: 0;
        height: 100%;
        border-radius: 0;
    }
}