.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(196, 196, 196, 0.5);
    z-index: 999;
}

.modal__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px 33px 40px;

    border-radius: 8px;
    font: 400 normal 16px/24px Inter, sans-serif;
    background: var(--white-bg);
    color: var(--input-text-color);
}

.modal__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    color: var(--input-text-color);
    cursor: pointer;
}

.modal__title {
    padding-bottom: 14px;
    color: var(--font-color);
    font: 600 normal 20px/24px Inter, sans-serif;
}

/* Preview for Main Page */
.modal_preview {
    display: block;
    position: relative;
    margin: auto;
    width: 80%;
    height: 70%;
    z-index: 1;
}

.modal_preview .modal__window {
    padding: 15px;
    width: 70%;
    height: 70%;
}

.modal_preview .modal__text {
    font-size: 10px;
    line-height: 1rem;
}