@use "../../assets/css/variables";

.histogram {
  &__card {
    min-width: 354px;
    padding: 16px 24px 24px;
    background: variables.$card-bg;
    border: variables.$grey-3;
    border-radius: 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    color: variables.$text-secondary;
  }

  &__title {
    opacity: 0.8;
    color: variables.$font-color;
    font: normal 400 16px/24px Inter, sans-serif;
  }

  &__link {
    padding-top: 3px;
    color: variables.$blue;
    font: normal 400 16px/24px Inter, sans-serif;
  }

  &__total {
    text-align: left;
    color: variables.$text-primary;
    font: normal 400 20px/26px Inter, sans-serif;
  }

  &__chart {
    display: flex;
    align-items: flex-end;
    height: 50px;
    padding: 39px 4px 0 1px;
    animation: rise 350ms linear;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    transform-origin: bottom;
  }

  &__bar {
    flex-basis: 100%;
    background: variables.$blue;
    margin-right: 1px;
  }

  &_preview {
    min-width: 100px;
    width: 70%;
    height: 40%;
    margin: auto;
  }
}

@keyframes rise {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}