* {
    margin: 0;
    padding: 0;
}

.histogram {
    width: 354px;
    height: 185px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    margin: 20px;
}

.histogram__header {
    padding: 16px 24px 6px;
    display: flex;
    justify-content: space-between;
}

.histogram__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__total {
    padding: 0 0 0 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.histogram__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue);
}

.histogram__bars {
    display: flex;
    align-items: flex-end;
    height: 50px;
    padding: 50px 16px 0;
}

.histogram__bar {
    width: 100%;
    background: var(--blue);
    margin: 0 2px;
}