.main__inner {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    background: var(--grey-bg);
    padding: 36px 165px 0 165px;
}

@media screen and (max-width: 768px) {
    .main__inner {
        display: inline-block;
        padding: 0 16px;
    }
}