@mixin square($size: 24px) {
  width: $size;
  height: $size;
}

@mixin flexCenterXY() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hideNativeControl() {
  position: absolute;
  appearance: none;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

$sm: 576px;
$md: 768px;
$xl: 1280px;
$xxl: 1400px;

@mixin device($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content
  }
}