.footer {
    height: 200px;
}

.footer__title {
    /* h2 */
    padding: 72px 0 32px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: #212429;
}

.footer__text {
    /* p */
    max-width: 640px;
    margin: 0 auto;
    padding: 0 0 136px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #212429;
}