@use "../../assets/css/variables";
@use "../../assets/css/mixins";

.nav {
  display: flex;
  gap: 40px;
  color: variables.$grey-3;
  font: 400 normal 16px/24px Inter, sans-serif;

  &__item {
    &:hover {
      cursor: pointer;
      color: variables.$black;
    }

    &:first-child {
      color: variables.$black;
    }

    &:first-child:after {
      content: "";
      display: block;
      width: 46px;
      height: 5px;
      background: variables.$black;
      margin-top: 8px;
    }
  }
}

@include mixins.device(mixins.$md) {
  .nav {
    gap: 24px;
  }
}