.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 350px;
    height: 367px;
    text-decoration: none;

    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    background: var(--main-bg);

    text-align: center;
    font: normal 500 21px/25px Roboto, sans-serif;
    color: var(--font-color);
}

.card__text {
    margin-bottom: 30px;
}

.card__text_small {
    font: normal 400 16px/19px Roboto, sans-serif;
    color: var(--font-color);
}

.card__custom-form-elements {
    padding: 50px;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
}

.card__custom-form-elements_preview {
    padding: 50px;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
}

.card_preview {
    pointer-events: none;
}

.card_placeholder {
    visibility: hidden;
}

@media screen and (max-width: 768px){
    .card__custom-form-elements {
        display: flex;
        flex-direction: column;
    }

    .card_placeholder {
        display: none;
    }
}
