.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 350px;
    height: 367px;
    pointer-events: none;

    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    background: var(--white);

    text-align: center;
    font: normal 500 21px/25px Roboto, sans-serif;
    color: var(--black);
}

.card__text {
    margin-bottom: 30px;
}

.card__text_small {
    font: normal 400 16px/19px Roboto, sans-serif;
    color: var(--grey-4);
}