.preview {
    /*height: 400px;*/
    background: #F9FAFC;
}

.preview__container {
    padding: 68px 165px 204px 165px;
}

.preview__cards {
    display: flex;
    flex-wrap: wrap;
}

.preview__card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 30px auto;
    width: 350px;
    height: 367px;

    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    background: var(--white);

    text-align: center;
    font: normal 500 21px/25px Roboto, sans-serif;
    color: var(--black);
}

.preview__text {
    margin-bottom: 30px;
}