.form__inputs {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

@media screen and (max-width: 1400px) {
    .form__inputs {
        display: flex;
        flex-direction: column;
    }
}
