.preload-transitions * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.form-group {
    display: grid;
    gap: 5px;
}

.form-group__label {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--grey-3);
    font: normal 500 12px/18px Inter, sans-serif;
}

.form-group__wrapper {
    position: relative;
}

.form-group__input {
    box-sizing: border-box;
    width: 350px;
    height: 56px;

    padding: 24px 50px 24px 24px;

    border: 1px solid var(--grey-2);
    box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1);
    border-radius: 8px;

    background: var(--white);
    color: var(--grey-4);
    font: normal 400 20px/26px Inter, sans-serif;
    transition: border 250ms linear;
}

.form-group__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
}

.form-group__input::placeholder {
    color: var(--grey-2);
}

/* error */
.form-group_error .form-group__input {
    border: 1px solid var(--error);
    box-shadow: 0 1px 1px rgba(240, 61, 62, 0.1);
}

/* disabled */
.form-group_disabled .form-group__input {
    cursor: not-allowed;
}

/* focus on default(active) and error  */
.form-group .form-group__input:focus {
    outline: none;
    border: 1px solid var(--success);
}

.form-group_error .form-group__input:focus {
    border: 1px solid var(--error);
}