.form__inputs {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.form__group {
    display: grid;
    gap: 5px;
}

.form__group_label {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--grey-3);
    font: normal 500 12px/18px Inter, sans-serif;
}

.form__group_input-wrapper {
    width: 350px;
    height: 56px;
    position: relative;
}

.form__group_input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 24px;

    border: 1px solid var(--grey-2);
    box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1);
    border-radius: 8px;

    background: var(--white);
    color: var(--grey-4);
    font: normal 400 20px/26px Inter, sans-serif;
}

.form__group_icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
}

::placeholder {
    color: var(--grey-2);
}

/* error */
.form__group_error .form__group_input {
    border: 1px solid var(--error);
    box-shadow: 0 1px 1px rgba(240, 61, 62, 0.1);
}

/* disabled */
.form__group_disabled .form__group_input {
    cursor: not-allowed;
}

/* focus on default(active) and error  */
.form__group .form__group_input:focus {
    outline: none;
    border: 1px solid var(--success);
}

.form__group_error .form__group_input:focus {
    border: 1px solid var(--error);
}